[alias]
	aa = add --all
	assume = update-index --assume-unchanged
	assumed = !git ls-files -v | grep '^[hsmrck?]' | cut -c 3-
	b = branch
	browse = !hub browse
	ca = commit --amend --verbose
	car = commit --amend --no-edit
	cl = !hub clone
	co = checkout
	compare = !hub compare
	current-branch = rev-parse --abbrev-ref HEAD
	dc = diff --color --word-diff --cached
	df = diff --color --word-diff
	dup = !git checkout develop && git fetch origin && echo && git sl develop..origin/develop && echo && git pull --quiet && git checkout -
	fixup = commit --fixup
	issues = !hub browse -- issues
	mup = !git master-to-main-wrapper checkout %BRANCH% && git fetch origin && echo && git sl %BRANCH%..origin/%BRANCH% && echo && git pull --quiet && git checkout -
	nah = !git reset --hard && git clean -fd
	no-ff = merge --no-ff
	pl = pull
	prune = remote prune origin
	ps = push
	pulls = !hub browse -- pulls
	rbc = rebase --continue
	rdup = !git dup && git rebase develop
	remotes = remote -v
	repush = !git pull --rebase && git push
	rmup = !git mup && git master-to-main-wrapper rebase %BRANCH%
	ri = rebase --interactive
	rid = !git rebase -i $(git merge-base develop HEAD)
	rim = !git rebase -i $(git master-to-main-wrapper merge-base %BRANCH% HEAD)
	rip = !git rebase -i $(git merge-base production HEAD)
	ris = !git rebase -i $(git merge-base staging HEAD)
	riu = !git rebase -i $(git rev-parse --abbrev-ref --symbolic-full-name @{u})
	sl = log --oneline --decorate -20
	sla = log --oneline --decorate --graph --all -20

	slap = log --oneline --decorate --graph --all
	slp = log --oneline --decorate
	staged = diff --staged
	unassume = update-index --no-assume-unchanged
	uncommit = reset --soft HEAD^
	unstage = reset
	upstream = rev-parse --abbrev-ref --symbolic-full-name @{u}
	ureset = !git reset --hard $(git upstream)
	wip = !git add . && git commit -m 'wip'
	cl = !hub clone

[branch]
	autosetupmerge = true
	autosetuprebase = always

[checkout]
	defaultRemote = origin

[color]
	branch = auto
	diff = auto
	status = auto
	ui = true

[color "branch"]
	current = red reverse
	local = blue
	remote = green

[color "diff"]
	meta = yellow
	frag = magenta
	old = red bold
	new = green
	plain = white

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[commit]
	template = ~/.gitmessage
	verbose = true

[core]
	editor = vim
	excludesFile = ~/.gitignore-global

[diff]
	tool = vimdiff

[fetch]
	prune = true

[gitsh]
	nogreeting = true

[grep]
	lineNumber = true

[help]
	autocorrect = 1

[include]
	path = ~/.gitconfig.local

[includeIf "gitdir:~/Code/Inviqa/"]
	path = ~/.gitconfig-inviqa

[init]
	templatedir = ~/.git_template

[merge]
	ff = only

[rebase]
	autosquash = true
	autostash = true

[rerere]
	enabled = true

[push]
	default = upstream

[url "https://git.drupal.org/project/"]
	insteadOf = do:
	insteadOf = drupal:

[pull]
	ff = only
	rebase = true

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Oliver Davies
	email = oliver@oliverdavies.uk
