alias bower="./node_modules/.bin/bower"
alias grunt="./node_modules/.bin/grunt"
alias gulp="./node_modules/.bin/gulp"

alias ga="git add -p"
alias gc="git commit"
alias gl="git log --oneline --graph --decorate"
alias gs="git status -sb"

alias code="cd ~/Code"
alias l="ls -lah"

alias st="subl"
alias stt="subl ."

alias v="vagrant"
